<!DOCTYPE html>
<html ng-app="helpListApp">
<head>
  <title>HelpList Application</title>

  <!-- Viewport mobile tag for sensible mobile support -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!--STYLES-->
  <link rel="stylesheet" href="/styles/bootstrap.css">
  <link rel="stylesheet" href="/styles/importer.css">
  <!--STYLES END-->
</head>
<body>
 <div ng-view></div>
<!-- <script type="text/javascript" src="/jst.js"></script> -->
<script>
 window.user = <%- JSON.stringify(req.session.user || {}) %>;
</script>
 <!--SCRIPTS-->
 <script src="/bower_components/jquery/dist/jquery.js"></script>
 <script src="/bower_components/angular/angular.js"></script>
 <script src="/bower_components/angular-route/angular-route.js"></script>
 <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
 <script src="/js/dependencies/sails.io.js"></script>
 <script src="/js/app.js"></script>
 <script src="/js/services/HelplistService.js"></script>
 <!--SCRIPTS END-->
</body>
</html>