    
<div class="container" ng-controller="HelplistCtrl">
    <nav class="navbar navbar-default navbar-inverse">
        <a class="navbar-brand" href="/#">HelpList Application</a> 
        
        <form class="navbar-form navbar-right" ng-hide="user.login">
                <div class="form-group">
                    <input ng-model="login.value" type="text" placeholder="Login" name="login" class="form-control">
                </div>
                <div class="form-group">
                    <input ng-model="password.value" type="password" placeholder="Password" name="password" class="form-control">
                </div>
                <button type="submit" class="btn btn-success" ng-click="signin()">Sign in</button>
              
        </form>

        <div ng-hide="!user.login">
            <a class="navbar-brand" href="/#">{{ user.login }}</a>
            <a class="navbar-brand" href="/#" ng-click="logout()">Logout</a>
        </div>  
    </nav>
    <form ng-hide="user.login">
        <div class="form-group">
            <input ng-model="reg_login.value" type="text" placeholder="Login" name="login" class="form-control">
        </div>
        <div class="form-group">
            <input ng-model="reg_password.value" type="password" placeholder="Password" name="password" class="form-control">
        </div>
        <div class="form-group">
            <select placeholder="Role" name="role" class="form-control" ng-model="reg_role.value" ng-init="reg_role.value='editor'">
                <option>editor</option>
                <option>rater</option> 
            </select>
        </div>
        <button type="submit" class="btn btn-success" ng-click="registration()">Registration</button>
    </form>

    <div ng-show="user.login">
        <button type="submit" class="btn btn-primary btn-lg" ng-click="create = !create">Create</button>
        <div class="jumbotron" ng-show="create">
            <h1 align="center">HelpList Application</h1>
            <br>
            <div id="problem-form" class="row">
                <div class="col-sm-8 col-sm-offset-2 text-center">
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control input-lg text-center" placeholder="Problem" ng-model="problem.value">
                            <input type="text" class="form-control input-lg text-center" placeholder="Solution" ng-model="solution.value">
                            <br>
                            <button type="submit" class="btn btn-primary btn-lg" ng-click="addProblem()">Add</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="row" ng-repeat="p in problems">
            <div class="col-sm-4" ng-click="editing = !editing">Problem: {{ p.problem }}</div>
            <div class="col-sm-4" ng-click="editing = !editing">Solution: {{ p.solution }}</div>
            <div class="col-sm-4" ng-click="rating = !rating">Rating: {{ p.rating }}</div>
            <div id="problem-form" class="row" ng-show="editing && editor">
                <div class="col-sm-8 col-sm-offset-2 text-center">
                    <form>
                        <div class="form-group">
                            Problem: <input type="text" class="form-control input-lg text-center" placeholder="{{ p.problem }}" ng-model="e_problem.value">
                            Solution: <input type="text" class="form-control input-lg text-center" placeholder="{{ p.solution }}" ng-model="e_solution.value">
                            <br>
                            <button type="submit" class="btn btn-primary btn-lg" ng-click="editProblemSolution(p.problem)">Edit</button>
                        </div>
                    </form>
                </div>
            </div>

            <div id="problem-form" class="row" ng-show="rating && rater">
                <div class="col-sm-8 col-sm-offset-2 text-center">
                    
                    <div class=col-md-12>
                        <div ng-repeat="rating in ratings">
                            <h2>{{p.rating}} /
                                {{rating.max}}</h2>
                            <div star-rating rating-value="p.rating" max="rating.max" on-rating-selected="getSelectedRating(rating)"></div>
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-primary" ng-click="setRating(p.rating, p.problem)">Rate</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>   
</div>



